.movieCastList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    column-gap: 14px;
    row-gap: 25px;
    padding: 0;

}

.movieCastItem {
    display: flex;
    width: 23%;
    gap: 10px;
    border: 2px solid;
    padding: 10px;
}

.movieCastImg {
    width: 136px;
    height: 200px;

}

.castInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10px;
    gap: 15px;



}

.movieCastName {
    font-size: 23px;
    font-weight: 400;
    color: #d3d3d3;
    margin: 0;
    margin-top: 45px;
    text-align: center;

}

.movieCastCharacter {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    text-align: center;

}